{% extends '_base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Пожалуйста, подтвердите,
    что <a href="mailto:{{ email }}">{{ email }}</a> это адрес электронной почты для
    пользователя {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary" type="submit">{% trans '🐷Подтвердить🐷' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Срок действия ссылки для подтверждения по электронной почте истек или она недействительна.
Пожалуйста <a href="{{ email_url }}">отправить новый запрос на подтверждение по электронной почте</a>.
{% endblocktrans %}</p>

{% endif %}

{% endblock %}